body {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-style: normal;
}

p {
    font-size: 20px;
}

.logo {
    height: 250px;
    width: 300px;
    position: relative;
}

/* Vi vil gerne give en lille ekstra ting på siderne, så når man hover over vores logo kommer der et lille ordspil med 
"wel"Come 2 Copenhagen */
.logo-hover {
    height: 250px;
    width: 300px;
    position: absolute;
    left: 40.5%;
    top: 0;
    opacity: 0;
}

.logo-hover:hover {
    opacity: 3;
    z-index: 3;
    transition: 0.2s;
}

/* Dette er samme funktion som ovenstående blot så det virker på mobil */
@media screen and (max-width: 700px) {
    .logo-hover {
        left: 26.5%;
    }
}

/* videoen kom til at blocke klik-funktionen på vores header når man scrollede ned. 
derfor har vi sat z-index til værende 3 så dette ikke overlappede hinanden */
.header {
    text-align: center;
    position: fixed;
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
    z-index: 3;
}

.header img {
    height: 150px;
    width: 275px;
}

ul {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    padding-top: -10%;
    padding-bottom: 1px;
    width: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 35px;
}

li {
    display: inline;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

li a {
    color: black;
}

.her {
    font-weight: bold;
}

a:link {
    text-decoration: none black;
}

a:hover {
    text-decoration: underline 2px black;
    color: black;
    text-underline-offset: 3px;
}

a {
    color: black;
}

@media screen and (max-width: 870px) {
    .video {
        margin-top: -100px;
    }
}

.video {
    margin-bottom: 10px;
    width: 100%;
    display: block;
    z-index: 1;
}

.containeret {
    display: flex;
}

.historybox {
    padding: 10px;
}

.historybox img {
    display: block;
}

.culturebox {
    padding: 10px;
}

.culturebox img {
    display: block;
}

.transportbox {
    padding: 10px;
}

.transportbox img {
    display: block;
}

.faqbox {
    padding: 10px;
}

.faqbox img {
    display: block;
}

.overskrift {
    font-size: 30px;
}

p a {
    font-weight: bold;
}

.faqsite h2, h3, h4 {
    font-size: 30px;
}

/* Vi ville gerne have at det var skiftene venstre/højre stillet med billede og tekst på computer. 
men billede øverst på mobil. (heraf denne code) */
@media screen and (min-width: 700px) {
    .computer {
        order: 1;
    }
}

.computer {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: grey;
    margin-top: 30px;
}

footer p {
    font-size: 15px;
}

.info {
    font-size: 25px;
    padding-bottom: 40px;
}

p span {
    font-weight: initial;
}

#send {
    margin-left: 20px;
}

.button-back {
    width: 140px;
    height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: right;
}

.button-back:hover {
    background-color: #c1c0c1;
    box-shadow: 0px 5px 10px black;
    color: black;
    transform: translateY(-7px);
}

#send {
    width: 140px;
    height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#send:hover {
    background-color: #c1c0c1;
    box-shadow: 0px 5px 10px black;
    color: black;
    transform: translateY(-7px);
}

.space {
    padding-top: 10px;
}